$primary-color-blue: rgba(34, 193, 195, 1);
$primary-color-yellow: rgba(253, 187, 45, 1);

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.users-container {
  .users-table {
    #customers {
      tr {
        th {
          font-size: 16px;
          background-color: $primary-color-blue;
        }
        td {
          font-size: 16px;
        }
      }
      .btn-edit,
      .btn-delete {
        width: 50px;
        border: none;
        outline: none;
        background: transparent;
      }
      .btn-edit {
        color: #029ccb;
        &:hover {
          color: #036482;
        }
      }
      .btn-delete {
        color: red;
        &:hover {
          color: rgb(181, 14, 14);
        }
      }
    }
  }
  .btn {
    background-color: $primary-color-blue;
    color: white;
    transition: 0.2s;
    &:hover {
      color: $primary-color-yellow;
    }
    i {
      margin-right: 10px;
      color: #ffffff;
    }
  }
}

.modal-user-container {
  .modal-content {
    border-radius: 25px;
    overflow: hidden;

    .modal-header {
      background-color: $primary-color-blue !important;
      height: 50px !important;
      h5 {
        font-size: 18px !important;
        font-weight: 600 !important;
        line-height: 50px !important;
        margin-left: 24px;
      }
      button {
        display: none;
      }
    }
    .modal-user-body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .input-container {
        padding: 10px 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        &.max-width-input {
          width: 100%;
        }
        label {
          font-size: 16px;
        }
        input {
          border-radius: 3px;
          height: 30px;
          border: 1px solid rgb(195, 195, 195);
          outline: none;
          padding: 10px 10px;
          font-size: 16px;
        }
      }
    }
    .modal-footer {
      button {
        border-radius: 25px;
        &:first-child {
          background-color: rgba(34, 193, 195, 1);
          &:hover {
            color: $primary-color-yellow;
          }
        }
        &:last-child {
          &:hover {
            color: $primary-color-yellow;
          }
        }
      }
    }
  }
}
