.intro-doctor {
  .intro-doctor-content {
    display: flex;
    .content-left {
      background: center center no-repeat;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-size: cover;
    }
    .content-right {
      width: calc(100% - 100px);
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      .up {
        font-size: 18px;
        font-weight: 600;
      }
      .down {
        font-size: 14px;
        font-weight: 400;
        .booking-date {
          border-top: 1px solid #fff;
          margin-top: 10px;
        }
        .booking-time {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          padding: 2px;
        }
      }
    }
  }
  .price {
    border: 1px solid #fff;
    padding: 0 10px;
    max-width: 200px;
    text-transform: uppercase;
    border-radius: 3px;
  }
}
