@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

$primary-color-yellow: #f7d800;
$primary-color-blue: #49bce2;

body {
  font-family: "Montserrat", sans-serif;
  //   font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap,
  $direction: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
@mixin transition-hover-2 {
  transition: 0.2s linear;
}
@mixin box-shadow-hover {
  box-shadow: 1px 2px 10px 0px $primary-color-blue;
}

.home-header-container {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  .home-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-content {
      width: 15%;
      @include flex(center);
      .header-logo {
        background: url("../../assets/images/logo.svg") center center no-repeat;
        width: 100%;
        height: 40px;
        margin-left: 10px;
      }
      i {
        font-size: 25px;
        color: gray;
      }
    }
    .center-content {
      width: 60%;
      @include flex(center, space-between, nowrap);
      .child-content {
        b {
          font-size: 12px;
        }
        .subs-title {
          font-size: 10px;
        }
      }
    }
    .right-content {
      // width: 20%;
      @include flex(center, center, nowrap);
      i {
        color: $primary-color-blue;
        margin-right: 2px;
      }
      .support {
        color: grey;
        font-weight: 600;
        margin-right: 20px;
        cursor: pointer;
        @include transition-hover-2();
        &:hover {
          color: $primary-color-blue;
        }
      }
      .language {
        @include flex(center, center, nowrap);
        cursor: pointer;
        :first-child {
          margin-right: 5px;
        }
        .active {
          color: $primary-color-blue;
          font-weight: 600;
        }
      }
    }
  }
}

.home-header-banner {
  background-image: url(../../assets/images/banner.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .search {
    min-height: 60vh;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    padding: 45px 0;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .contain {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      h1 {
        color: #fff;

        margin-bottom: 20px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333;
      }
      .search-form {
        width: fit-content;
        @include flex(center, center, nowrap);
        width: 40%;
        min-width: 300px;
        margin: 0 auto;
        padding: 10px;
        border-radius: 25px;
        background: $primary-color-yellow;
        i {
          margin-left: 10px;
        }
        input {
          border: none;
          outline: none;
          background: transparent;
          width: 100%;
          margin-left: 20px;
        }
      }
      .link {
        margin-top: 100px;
        a {
          margin: 0 10px;
        }
        &-img {
          height: 32px;
          @include transition-hover-2();
          &:hover {
            @include box-shadow-hover();
          }
        }
      }
    }
  }
  .options {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );

    padding-bottom: 60px;
    &-list {
      @include flex(flex-start, center, wrap);
    }
    &-item {
      @include flex(center, flex-start, nowrap, column);
      margin: 50px;
      background-color: #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px 0px #8888;
      @include transition-hover-2();
      &:hover {
        @include box-shadow-hover();
        a {
          color: $primary-color-blue;
        }
      }
      a {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        @include transition-hover-2();
      }
    }
    &-img {
      width: 50px;
      height: 50px;
      margin: 2px auto;
      background-size: 32px !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }
  }
}
