@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 193, 195, 1);
  color: $common-text-color;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background: linear-gradient(
        135deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
      );
    }
    i {
      font-size: $base-size + 1px;
    }
  }
}
