@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 193, 195, 1);
  color: $common-text-color;
  height: 40px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  .languages {
    cursor: pointer;
    .welcome {
      font-size: 12px;
    }
    &-en,
    &-vi {
      &.active {
        color: rgba(253, 187, 45, 1);
      }
    }
    &-en {
      margin-left: 2px;
      margin-right: 10px;
    }
    &-vi {
      margin-left: 20px;
      margin-right: 2px;
    }
  }
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      color: rgba(253, 187, 45, 1);
    }
    i {
      font-size: $base-size + 1px;
    }
  }
}
